.maintext {  font-size: 12px;  color: #000000; text-decoration: none}
a.maintext:hover {  font-size: 12px; text-decoration:underline; }
a.maintext:link {  font-size: 12px;  }
a.maintext:visited {  font-size: 12px;  }
.navigator {  font-size: 12px;  color: #ffffff; text-decoration: none}
.navigator2 {  font-size: 12px;  color: #ffcc00; text-decoration: none}
a.navigator:hover {  font-size: 12px;  color: #ffffff; text-decoration: none}
a.navigator:link {  font-size: 12px;  color: #ffffff; text-decoration: none}
a.navigator:visited {  font-size: 12px;  color: #ffffff; text-decoration: none}
.blacklink {  font-size: 12px;  color: #000000; text-decoration: none}
a.blacklink:hover {  font-size: 12px;  color: #ff0000; text-decoration: underline}
a.blacklink:link {  font-size: 12px;  }
a.blacklink:visited {  font-size: 12px; }
.bluelink {  font-size: 12px;  color: #003399; text-decoration: none}
a.bluelink:hover {  font-size: 12px;  color: #000050; text-decoration: underline}
a.bluelink:link {  font-size: 12px;  color: #003399; text-decoration: none}
a.bluelink:visited {  font-size: 12px}
.white {  font-size: 12px;  color: #ffffff; text-decoration: none}
a.white:hover {  font-size: 12px;  color:#ffffff; text-decoration:  underline}
a.white:link {  font-size: 12px;}
a.white:visited {  font-size: 12px;}

.href {  font-size: 12px;  color: #003399; text-decoration: none}
a.href:hover {  font-size: 12px; text-decoration:underline; color:#ff0000;}
a.href:link {  font-size: 12px; }
a.href:visited {  font-size: 12px;}

.tdbody {border: 1px; background-color: #ffffff;}


.menu {  font-size: 12px;  color: black; text-decoration: none}
a.menu:hover {  font-size: 12px; color: white; background-color: #000080;}
.title { font-size:12px; color:#0066cc; text-decoration:none; line-height:20px; font-weight:bold}
